body
{
    grid: min-content 1fr / auto;
}

body > *
{
    grid-column: auto;
    grid-row: auto;
}

nav
{
    background-color: white;
    color: var(--primary-400);
    align-items: center;
    justify-content: space-between;
    padding: 0 1.75em;
    display: flex;
    font-size: 1.1em;
    font-weight: initial;
}

nav ul
{
    font-weight: 600;
}

main
{
    font-size: 1.2rem;
    background-color: var(--neutral-300);
}

section
{
    padding: 2em 0;
}

section:nth-child(even)
{
    background-color: white;
}

section:last-child
{
    padding-bottom: 3em;
}

.section-container
{
    max-width: 70em;
    width: 90%;
    margin: 0 auto;
}

h1
{
    font-size: 2em;
    font-style: italic;
}

h2, h3, h4
{
    font-weight: 700;
    margin: 1em 0;
    margin-top: 1.2em;
}

h2
{
    font-size: 3em;
    color: var(--primary-400);
    margin: 0.75em 0;
}

h3
{
    font-size: 1.5em;
    color: var(--accent-400);
}

h4
{
    font-size: 1.1em;
    color: var(--accent-400);
}

p
{
    margin: 1em 0;
}

p > img
{
    height: 1.1em;
    transform: translateY(0.1em);
}

img
{
    display: inline-block;
}

main a
{
    color: var(--accent-400);
    font-weight: 600;
}

main a:hover,
main a:focus
{
    text-decoration: underline;
}

main ol,
main ul
{
    padding-left: 3ch;
}

main li
{
    padding-left: 0.5em;
}

main ol li
{
    margin: 0.5em 0;
}

main ul li
{
    margin: 0.2em 0;
}

ol ol
{
    list-style-type: lower-roman;
}

.screenshot-wrapper
{
    text-align: center;
}

.screenshot
{
    max-width: min(80%, 35rem);
    max-height: 25rem;
}

.dl-btn
{
    color: var(--accent-400);
    border: 1px solid var(--accent-400);
    border-radius: 0.5em;
    padding: 0.5em 1.2em;
    display: inline-block;
    margin-right: 3em;
}

.dl-btn:hover,
.dl-btn:focus
{
    text-decoration: none;
    background-color: var(--accent-400);
    color: var(--neutral-300);
}

.howdo
{
    font-weight: normal;
    text-decoration: underline;
    display: inline-block;
    margin-top: 1em;
}

.acc-content
{
    background-color: white;
    height: 0;
    overflow: hidden;
}

.acc-btn
{
    display: block;
    margin: 0;
}

.acc-btn button
{
    padding: 1em 0;
    width: 100%;
    text-align: left;
    position: relative;
}

.acc-btn button::before,
.acc-btn button::after
{
    content: '';
    background-color: currentColor;
    position: absolute;
    width: 1em;
    height: 0.25em;
    top: 50%;
    right: 0;
}

.acc-btn button::before
{
    transform: translateY(-50%);
}

.acc-btn button::after
{
    transform: translateY(-50%) rotate(90deg);
}

.acc-btn button.open::after
{
    display: none;
}

.acc-content + .acc-btn
{
    border-top: 1px solid #c6c6cc;
}

.acc-content.open,
.acc-content:focus-within
{
    height: min-content;
    padding: 1em;
    border-top: 1px solid #c6c6cc;
}

.video-tuts
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0 1em;
}

.video-card
{
    padding: 1em;
    text-align: center;
}

.video-card h5
{
    margin-bottom: 0.5em;
    font-weight: 600;
    margin-right: 1em;
}

.platform
{
    color: #555;
    font-size: 0.8em;
    border: 1px solid currentColor;
    border-radius: 0.3em;
    padding: 0.2em 0.5em;
    margin: 0;
    margin-bottom: 1em;
    display: inline-block;
}

.platform + .platform
{
    margin-left: 1em;
}

.video-card video
{
    width: 100%;
}

@media (min-width: 64rem) {

    .video-card
    {
        text-align: left;
    }
    
    .video-card h5
    {
        display: inline-block;
    }

    .video-tuts
    {
        grid-template-columns: repeat(2, 1fr);
    }
}