body
{
    min-height: 100vh;
    background-color: var(--neutral-400);
    display: grid;
    grid-template-columns: 18rem 1fr;
    grid-template-rows: min-content 1fr;
}

table
{
    font-size: 0.9rem;
}

#sidebar
{
    background-color: var(--primary-400);
    color: white;
    box-shadow: 0px 1px 13px 0px #00000040;
    z-index: 1;
    grid-column: 1 / 1;
    grid-row: 1 / -1;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

.sidetop
{
    padding: 2em 1em;
    border-bottom: 0.5px solid #D9D9D9;
}

.sidetop h1, 
.sidetop p
{
    font-style: italic;
    margin-left: 1rem;
}

.sidetop h1
{
    font-size: 2em;
}

.sidetop p
{
    margin-top: 1em;
    line-height: 1.75;
}

#upload-area
{
    width: 100%;
    background-color: var(--primary-300);
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-radius: 100vh;
    padding: 1em 2em;
    font-weight: 700;
    font-size: 0.8em;
    box-shadow: 0px 0px 12px 0px #80372B33;
}

/* prevent jittering when dragging file over child span */
#upload-area *
{
    pointer-events: none;
}

#upload-area:hover,
#upload-area:focus
{
    cursor: pointer;
    background-color: var(--primary-200);
}

#upload-area img
{
    height: 1em;
    display: inline-block;
}

#upload-button
{
    display: none;
}

.file-list-area
{
    padding-top: 5em;
    flex-grow: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
}

.file-list-header
{
    font-size: 0.8em;
    font-weight: 700;
    padding: 0 1em;
    padding-left: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-list-header:hover,
.file-list-header:focus-within
{
    background-color: var(--primary-300);
}

.file-list-header button
{
    min-height: 0;
    transition-duration: 0s;
    padding: 1em 1.75em;
}

.file-list-header button:hover,
.file-list-header button:focus
{
    transition-duration: 0.1s;
    background-color: var(--accent-700);
}

.file-list
{
    min-height: 0;
    padding-top: 1px;
    padding-bottom: 2rem;
    overflow: auto;
}

.file-list.grabbed,
.file-list.grabbed *
{
    cursor: move !important;
}

.file-list.grabbed > *
{
    opacity: 0.8;
}

.acsblty-skip
{
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    height: 1px;
    width: 1px;
}

.acsblty-skip:focus
{
    height: auto;
    width: auto;
}

.file-list .acsblty-skip
{
    display: block;
    text-align: center;
    text-decoration: underline;
}

.file-list .acsblty-skip:focus
{
    padding: 1em;
}

.list-item
{
    overflow: hidden;
    width: calc(100% - 2em);    
    text-align: left;
    margin: 0.1em 0;
    border-radius: 0 100vh 100vh 0;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    transition: box-shadow ease 0.1s, transform ease 0.1s;
}

.list-item span
{
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-item:hover,
.list-item:focus-within
{
    transition: box-shadow ease 0.1s, transform ease 0.1s, background-color 0.1s;
    background-color: var(--primary-350);
    cursor: pointer;
}

.list-item.active
{
    background-color: var(--accent-700);
    transition: none;
}

.list-item.grabbed
{
    box-shadow: 0px 4px 40px -11px #000000A0;
    transform: translateY(-2px);
    z-index: -1;
    opacity: 1;
}

.list-item button,
.list-item > img
{
    transition: none;
    align-self: stretch;
    padding: 0.75em 1em;
    visibility: hidden;
}

.list-item > img
{
    cursor: move;
}

.list-item button > *
{
    display: block;
}

.list-item:hover button,
.list-item:hover > img,
.list-item:focus-within button,
.list-item:focus-within > img
{
    visibility: visible;
    transition: visibility 0s 0.2s;
}

main
{
    min-width: 0;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-wrapper
{
    width: 100%;
    margin: auto 0;
}

#gentle-warning
{
    display: none;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background-color: #eeeeee;
    border: 1px solid var(--primary-400);
    margin-bottom: 1em;
}

#gentle-warning b
{
    text-transform: uppercase;
    color: var(--accent-700);
}

#gentle-warning button
{
    font-size: 2em;
    line-height: 0.5;
}

#dashboard.grabbed,
#dashboard.grabbed *
{
    cursor: move !important;
}

#dashboard.grabbed .driftitem
{
    opacity: 0.8;
}

.startcard
{
    display: none;
    width: 50%;
    padding: 4.5em;
    background-color: white;
    border: 1px solid var(--primary-400);
    padding-bottom: 3em;
    margin: auto;
}

.startcard.show
{
    display: block;
}

.startcard h2,
.startcard a
{
    text-transform: uppercase;
}

.startcard h2
{
    color: var(--accent-700);
    font-style: italic;
    font-weight: 700;
    font-size: 2em;
}

.startcard p
{
    font-size: 1.2em;
    margin: 1.5em 0;
}

.startcard a
{
    font-size: 1.3em;
    display: inline-block;
    padding: 0.5em 1em;
    color: white;
    background-color: var(--primary-300);
    border-radius: 100vh;
    box-shadow: 0px 0px 12px 0px #80372B33;
}

.startcard a:hover,
.startcard a:focus
{
    background-color: var(--primary-200);
}

.driftitem
{
    background-color: var(--neutral-350);
    width: 100%;
    max-width: 100%;
    transition: transform ease 0.1s;
    position: relative;
}

.driftitem.firstunfold
{
    animation: unfold 0.3s ease;
    transform-origin: top;
}

@keyframes unfold
{
    from {
        transform: scaleY(0);
    }
    to {
        transform: scaleY(100%);
    }
}

.driftitem::before
{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    box-shadow: 0px 4px 40px -11px black;
    opacity: 0.1875;
    transition: all ease 0.1s;
    display: initial;
}

.driftitem.grabbed
{
    transform: translateY(-2px);
    opacity: 1 !important;
}

.driftitem.grabbed::before
{
    opacity: 0.625;
}

.driftitem + .driftitem
{
    margin-top: 2.5em;
}

.docbar
{
    font-weight: 300;
    font-size: 1.3em;
    background-color: var(--primary-400);
    color: white;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
}

.docbar > img
{
    margin-right: 0.5em;
}

.docbar > img:hover
{
    cursor: move;
}

.doc-name
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 2em;
    flex-grow: 1;
}

.dl-btn
{
    position: relative;
}

.dl-btn
{
    min-height: 0;
    transition-duration: 0s;
    padding: 0.5em 1.2em;
}

.dl-btn:hover,
.dl-btn:focus-within
{
    transition-duration: 0.1s;
    background-color: var(--accent-700);
}

.dl-dropdown
{
    white-space: nowrap;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    visibility: hidden;
    position: absolute;
    top: 100%;
    background-color: white;
    color: var(--accent-700);
    transition: none;
    box-shadow: 0px 3px 7px -3px rgba(0, 0, 0, 0.25);
    list-style: none;
}

.dl-dropdown.leftedge
{
    left: 0;
}

.dl-dropdown.rightedge
{
    right: 0;
}

.dl-btn:focus-within .dl-dropdown,
.dl-btn:hover .dl-dropdown
{
    visibility: visible;
    z-index: 1;
    transition: visibility 0s 0.2s;
}

.dl-dropdown a
{
    text-align: left;
    display: inline-block;
    padding: 1.75em 1.5em;
    width: 100%;
    padding-right: 2em;
}

.dl-dropdown li:last-child a
{
    border-top: 1px solid #eee;
}

/* 
.dl-btn:focus a
{
    display: inline-block;
} */

.dl-dropdown a:hover,
.dl-dropdown a:focus
{
    background-color: var(--accent-700);
    color: white;
}

.driftitem-content
{
    padding: 1.5em;
}

.driftitem-content section
{
    width: 100%;
}

.driftitem-content section:not(:first-child)
{
    background-color: white;
}

.driftitem-content section + section
{
    margin-top: 1em;
}

.top-section
{
    display: flex;
    align-items: stretch;
    gap: 0 1em;
}

.top-section > *
{
    background-color: white;
}

.top-section > :last-child
{
    flex: 0 0 20em;
}

.overview
{
    flex-grow: 1;
    overflow: hidden;
    padding: 0.25em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.overview-top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2em;
}

.overview-top p
{
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
}

.play-opt > *
{
    margin-left: 0.5em;
}

.play-opt button
{
    text-decoration: underline;
    opacity: 0;
}

.overview:hover button,
.overview:focus-within button
{
    opacity: 1;
    transition: opacity 0.1s;
}

.overview-wrapper
{
    overflow: auto;
    padding-bottom: 0.2em;
}

.loading-placement
{
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.drift-table
{
    font-weight: 300;
    line-height: 1.2;
    color: #646464;
}

.drift-table th
{
    font-weight: 600;
}

.drift-table th, .drift-table td
{
    min-width: 10ch;
}

.drift-table tr > *
{
    padding: 0.75em 1em;
    vertical-align: top;
    text-align: right;
}

.stat-table tr > :nth-child(odd),
.timeframe-table tr > :nth-child(even)
{
    background-color: var(--neutral-300);
}

.timeframe-wrapper
{
    background-color: #F4F4F4;
}

.timeframe-table
{
    background-color: white;
}

.timeframe-table td.editable
{
    padding: 0;
}

.timeframe-table input
{
    font-weight: inherit;
    padding: 0.75em 1em;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    width: 100%;
    text-align: right;
    background-color: inherit;
    border: none;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.timeframe-table tr:not(:first-child) > td
{
    background-color: #F4F4F4;
    vertical-align: middle;
}

.graph-section
{
    padding: 1em;
}

.detail
{
    width: 100%;
    display: flex;
    position: relative;
}

.detail.loaded::before,
.detail.loaded::after
{
    font-weight: 600;
    width: 5ch;
    text-align: right;
}

.detail.loaded::before
{
    content: 'log pitch (hertz)';
    position: absolute;
    bottom: 50px;
    left: 0;
}

.detail.loaded::after
{
    content: 'seconds';
    position: absolute;
    bottom: 20px;
    left: 50px;
}

.dl-graph-btn
{
    display: none;
    background-color: var(--accent-400);
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 2em;
    padding: 0.5em;
    border-radius: 100vh;
    align-items: center;
    box-shadow: 0px 0px 6px 0px #00000040;
}

.detail.loaded .dl-graph-btn
{
    display: flex;
}

.dl-graph-btn span
{
    text-align: center;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.2s;
    font-style: italic;
}

.dl-graph-btn:hover span,
.dl-graph-btn:focus span
{
    width: 17ch;
}

.dl-graph-btn img
{
    height: 100%;
}

.x-axis
{
    flex-shrink: 0;
}

.main-graph-wrapper
{
    overflow: auto;
    position: relative;
    flex-grow: 1;
}

.infotag
{
    position: absolute;
    color: white;
    font-size: 1.2em;
    transform: translateY(-50%);
    pointer-events: none;
}

.infotag > div
{    
    background-color: var(--accent-700);
    display: flex;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0px 4.99939489364624px 4.99939489364624px 0px rgba(0, 0, 0, 0.1);
}

.infotag::after
{
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-right-color: var(--accent-700);
    top: 50%;
    right: 100%;
    transform: translateY(-50%)
}

.infotag > div div:last-child
{
    background-color: var(--accent-400);
}

.infotag span
{
    display: block;
    margin: 0.5em 1em;
}

.infotag span:last-child
{
    font-weight: 300;
}

.play-btn
{
    font-size: 1.1em;
    background-color: var(--primary-300);
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10ch;
    flex-shrink: 0;
    border-radius: 0.6em;
    font-weight: 600;
    font-style: italic;
}

.play-btn:hover,
.play-btn:focus
{
    background-color: var(--primary-200);
}

.play-btn span
{
    margin-top: 0.75em;
    font-size: 0.8em;
}

.table-section
{
    position: relative;
    border-left: 1.25px solid #DDDDDD;
    background-color: var(--neutral-300);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.table-section > span
{
    padding: 0.5em 1em;
}

.table-section > span:last-child
{
    font-style: italic;
}

.table-title
{
    position: absolute;
    bottom: 100%;
    left: -1.25px;
    font-size: 1.25em;
    padding: 0.5em 1em;
    transform: translateY(105%);
    border-radius: 0.7em 0.7em 0 0;
    font-weight: 300;
    font-style: italic;
    z-index: -100;
    background-color: var(--primary-400);
    color: white;
    border-bottom: none;
    transition: transform 0.2s, box-shadow 0s 0s;
}

.table-section:hover .table-title,
.table-section:focus-within .table-title
{
    transform: translateY(0);
    box-shadow: 0px 0px 6px 0px #00000040;
    transition: transform 0.2s, box-shadow 0s 0.2s;
}

.table-section a:hover,
.table-section a:focus
{
    text-decoration: underline;
}

.table-wrapper
{
    text-align: center;
    overflow: auto;
    display: flex;
    min-width: 100%;
    align-items: center;
    background-color: white;
}

.copy-btn
{
    display: block;
    position: absolute;
    bottom: 100%;
    right: 0.5em;
    padding: 0.6em 1.45em;
    border-radius: 100vh;
    background-color: var(--accent-400);
    color: white;
    font-style: italic;
    transform: translateY(101%);
    opacity: 0;
    box-shadow: 0px 0px 6px 0px #00000040;
    transition: transform 0.2s, background-color 0.1s, opacity 0.2s, visibility 0.2s;
}

.table-wrapper:hover .copy-btn,
.table-wrapper:focus-within .copy-btn
{
    opacity: 1;
    transform: translateY(0.5em);
}

.copy-btn:hover
{
    background-color: var(--accent-300);
}

.stat-table .acsblty-skip
{
    font-weight: 400;
}

.stat-table th:first-child
{
    position: sticky;
    left: 0;
}

.stat-header th
{
    border-bottom: 0.62px solid #D6D6D6;
}

.table-loading
{
    flex-grow: 1;
    font-size: 1.25em;
    font-weight: 300;
}

.driftitem textarea
{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgba(128, 55, 43, 0.2);
    resize: none;
    font-family: inherit;
    color: rgba(86, 86, 86, 0.73);
    padding: 0.5em;
    margin-bottom: 1em;
    font-size: 1.1em;
}

.driftitem textarea[disabled]
{
    background-color: #DDDDDD;
    border: none;
}

.bottom-wrapper
{
    display: flex;
    align-items: center;
}

.bottom-wrapper progress
{
    appearance: none;
    margin-left: 1.2em;
    height: 0.7em;
    flex-grow: 1;
}

.bottom-wrapper progress::-webkit-progress-bar
{
    background-color: #DCDCDC;
    border-radius: 100vh;
    overflow: hidden;
}

.bottom-wrapper progress::-webkit-progress-value
{
    background-color: var(--accent-700);
}

.bottom-wrapper button
{
    text-transform: uppercase;
    color: white;
    background-color: var(--primary-300);
    border-radius: 100vh;
    font-size: 0.7em;
    padding: 1em 1.25em;
    font-weight: 600;
    box-shadow: 0px 0px 12px 0px rgba(128, 55, 43, 0.2);
}

.bottom-wrapper button:hover,
.bottom-wrapper button:focus
{
    background-color: var(--primary-200);
}

.bottom-wrapper button:disabled
{
    pointer-events: none;
    background-color: #C2C0C0;
}

#copied-alert
{
    position: fixed;
    top: 100vh;
    left: 50vw;
    font-size: 1.2rem;
    transform: translate(-50%, 200%);
    display: block;
    color: white;
    background-color: var(--accent-400);
    border-radius: 100vh;
    padding: 0.5em 1em;
    font-weight: 300;
    font-style: italic;
    opacity: 0;
    transition: all ease 0.2s;
    box-shadow: 0px 0px 6px 0px #00000040;
}

#copied-alert.visible
{
    opacity: 1;
    transform: translate(-50%, calc(-100% - 1em));
}

@media (prefers-reduced-motion)
{
    *
    {
        animation: none !important;
    }

    #copied-alert
    {
        transform: translate(-50%, calc(-100% - 1em));
        transition-property: opacity;
    }
    
    .dl-graph-btn span
    {
        transition: none;
    }

    .driftitem
    {
        transition: none;
    }    

    .list-item
    {
        transition: box-shadow ease 0.1s;
    }

    .list-item:hover,
    .list-item:focus
    {
        transition: box-shadow ease 0.1s, background-color 0.1s;
    }

    .copy-btn
    {
        transform: translateY(0.5em);
    }
}

/* SCROLLBARS SCROLLBARS SCROLLBARS */

.file-list-area ::-webkit-scrollbar
{
    width: 0.5rem;
}

.file-list-area ::-webkit-scrollbar-track 
{
    background: transparent;
    border-radius: 100vh;
}

.file-list-area ::-webkit-scrollbar-thumb 
{
    background: transparent;
    border-radius: 100vh;
}

.file-list-area:hover ::-webkit-scrollbar-thumb 
{
    background: var(--primary-300);
}



.driftitem ::-webkit-scrollbar
{
    height: 0.5rem;
}

.driftitem ::-webkit-scrollbar-track 
{
    background: #E3E3E3;
    border-radius: 100vh;
}

.driftitem ::-webkit-scrollbar-thumb 
{
    background: #F4F4F4;
    border-radius: 100vh;
}

.driftitem ::-webkit-scrollbar-button
{
    height: 0.5rem;
    width: 0.5rem;
}

.driftitem ::-webkit-scrollbar-button:single-button
{
    border-radius: 0 100vh 100vh 0;
}

.driftitem ::-webkit-scrollbar-button:end:increment,
.driftitem ::-webkit-scrollbar-button:end:decrement
{
    display: block;
}

.driftitem ::-webkit-scrollbar-button:end:increment
{
    background:
        linear-gradient(210deg, #E3E3E3 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #E3E3E3 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #E3E3E3 30%, rgba(0, 0, 0, 0) 31%);
    background-color: white;
}

.driftitem ::-webkit-scrollbar-button:end:decrement
{
    background:
    linear-gradient(30deg, #E3E3E3 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(150deg, #E3E3E3 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(270deg, #E3E3E3 30%, rgba(0, 0, 0, 0) 31%);
    background-color: white;
}

.driftitem ::-webkit-scrollbar-button:start
{
    display: none;
}