:root
{
    font-family: 'Nunito Sans', sans-serif;
    --primary-400: #4DB2AA;
    --primary-700: #3F8B85;
    --neutral-400: #E5E5E5;
    --neutral-700: #E3E3E3;
}

body
{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

button,
a
{
    transition: background-color 0.1s;
}

nav
{
    background-color: var(--primary-700);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    letter-spacing: 0.1em;
    box-shadow: 0px 4.99939px 4.99939px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

main
{
    flex-grow: 1;
}

.logo
{
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0.15em;
}

.nav-links
{
    display: flex;
}

.nav-links a
{
    padding: 1.8em 1em;
    display: inline-block;
}

.nav-links a:hover
{
    background-color: #4DB2AA;
}

#sidebar
{
    width: 16em;
    background-color: var(--primary-400);
    color: white;
    box-shadow: 0px 4.99939px 4.99939px rgba(0, 0, 0, 0.25);
    float: left;
    height: 100%;
}

#doclist-area
{
    display: inline-block;
    max-width: calc(100% - 16em);
}

#upload-area
{
    width: 9em;
    height: 9em;
    background-color: rgba(215, 215, 215, 0.3);
    margin: 0 auto;
    margin-top: 4em;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
    font-weight: 700;
}

#upload-area:hover
{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

#upload-area svg
{
    display: block;
    margin: 0 auto;
    margin-top: 0.8em;
}

#upload-button
{
    display: none;
}

.file-list-area
{
    width: 9em;
    margin: 0 auto;
    margin-top: 7em;
}

.file-list-area > :first-child
{
    font-weight: 700;
}

.file-list
{
    margin-top: 1em;
}

.file-list-area button
{
    font-size: 0.8em;
    width: 100%;
    height: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5em 1.5em;
    background-color: inherit;
    outline: none;
    border: none;
    color: inherit;
    border-radius: 0.2em;
    margin: 0.3em 0;
}

.file-list-area button:hover
{
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.file-list-area button:active,
.file-list-area button:focus
{
    background-color: var(--primary-700);
    box-shadow: inset 0px 2.4997px 2.4997px rgba(0, 0, 0, 0.25);
    transition: none;
}