:root
{
    font-family: 'Futura', 'Nunito Sans', sans-serif;
    color: #565656;
    font-weight: 500;
    --primary-200: #E9AF7C;
    --primary-300: #E39958;
    --primary-350: #E4924A;
    --primary-400: #D58139;
    --accent-400: #B95949;
    --accent-700: #80372B;
    --neutral-300: #FBFBFB;
    --neutral-350: #F1F1F3;
    --neutral-375: #F4F4F4;
    --neutral-400: #E5E5E5;
    --neutral-700: #E3E3E3;
}

html
{
}

body
{
    min-height: 100vh;
    background-color: var(--neutral-400);
    display: grid;
    grid-template-columns: 18rem 1fr;
    grid-template-rows: min-content 1fr;
}

button,
a
{
    transition: background-color 0.1s;
}

nav
{
    grid-column: 2 / 2;
    align-self: start;
    background-color: white;
    color: var(--primary-400);
    align-items: center;
    justify-content: flex-end;
    padding: 0 2em;
    display: flex;
}

.nav-links
{
    display: flex;
}

.nav-links li
{
    display: block;
}

.nav-links > li + li
{
    margin-left: 2em;
}

/* element which contains label, whether it be <a> or <span> */
.nav-links li > :first-child
{
    display: block;
}

/* only put large padding on first level label links */
.nav-links > li > :first-child
{
    padding: 1.5em 1em;
}

.nav-links li:hover,
.nav-links li:focus-visible
{
    background-color: var(--accent-700);
    color: white;
}

.nav-links li:hover > :not(:first-child),
.nav-links li:focus-visible > :not(:first-child)
{
    color: var(--accent-700);
}

.has-dropdown
{
    position: relative;
}

.has-dropdown > ul
{
    white-space: nowrap;
    background-color: var(--neutral-375);
    display: none;
    position: absolute;
    /* min-width: 150%; */
    top: 100%;
    left: 0;
    box-shadow: 0px 3px 7px -3px #00000040;
}

.has-dropdown a
{
    width: 100%;
    font-size: 0.8em;
    padding: 1.8em 1em;
    padding-right: 3em;
}

.has-dropdown:hover > ul,
.has-dropdown:focus-visible > ul
{
    display: block;
}

#sidebar
{
    background-color: var(--primary-400);
    color: white;
    box-shadow: 0px 1px 13px 0px #00000040;
    z-index: 1;
    grid-column: 1 / 1;
    grid-row: 1 / -1;
}

.sidetop
{
    padding: 2em 1em;
    border-bottom: 0.5px solid #D9D9D9;
}

.sidetop h1, 
.sidetop p
{
    font-style: italic;
    margin-left: 1rem;
}

.sidetop h1
{
    font-size: 1.5em;
}

.sidetop p
{
    margin-top: 1em;
    font-size: 0.8em;
    line-height: 1.75em;
}

#upload-area
{
    width: 100%;
    background-color: var(--primary-300);
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 0.75em;
    border-radius: 100vh;
    padding: 1em 2em;
    font-weight: 700;
    box-shadow: 0px 0px 12px 0px #80372B33;
}

/* prevent jittering when dragging file over child span */
#upload-area *
{
    pointer-events: none;
}

#upload-area:hover,
#upload-area:focus-visible
{
    cursor: pointer;
    background-color: var(--primary-200);
}

#upload-area img
{
    height: 1em;
    display: inline-block;
}

#upload-button
{
    display: none;
}

.file-list-area
{
    font-size: 0.8em;
    margin-top: 7em;
}

.file-list-header
{
    font-size: 0.9em;
    font-weight: 700;
    padding: 0 1em;
    padding-left: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-list-header:hover,
.file-list-header:focus-within
{
    background-color: var(--primary-300);
}

.file-list-header button
{
    min-height: 0;
    transition-duration: 0s;
    padding: 1em 1.75em;
}

.file-list-header button:hover,
.file-list-header button:focus
{
    transition-duration: 0.1s;
    background-color: var(--accent-700);
}

.file-list
{
    padding-bottom: 2rem;
}

.list-item
{
    overflow: hidden;
    width: calc(100% - 2em);    
    text-align: left;
    margin: 0.1em 0;
    border-radius: 0 100vh 100vh 0;
    display: flex;
    align-items: center;
}

.list-item span
{
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-item:hover,
.list-item:focus-visible
{
    transition: background-color 0.1s;
    background-color: var(--primary-350);
    cursor: pointer;
}

.list-item.active
{
    background-color: var(--accent-700);
    transition: none;
}

.list-item button,
.list-item > img
{
    transition: none;
    align-self: stretch;
    padding: 1em;
    visibility: hidden;
}

.file-list button > *
{
    display: block;
}

.list-item:hover button,
.list-item:hover > img,
.list-item:focus-visible button,
.list-item:focus-visible > img
{
    visibility: visible;
}

main
{
    min-width: 0;
    padding: 2em;
}

.driftitem
{
    background-color: var(--neutral-350);
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0px 4px 25px -11px #00000040;
}

.driftitem + .driftitem
{
    margin-top: 2em;
}

.docbar
{
    background-color: var(--primary-400);
    color: white;
    padding: 0.5em 2em;
    display: flex;
    align-items: center;
}

.doc-name
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 2em;
    flex-grow: 1;
}

.dl-btn
{
    position: relative;
}

.dl-dropdown
{
    display: none;
    /* visibility: none; */
    position: absolute;
    top: calc(100% + 1em);
    right: 0;
    /* max-height: 0; */
    background-color: var(--primary-400);
    overflow: hidden;
    transition: none;
    box-shadow: 0px 4.99939px 4.99939px rgba(0, 0, 0, 0.25);
}

.dl-btn:focus .dl-dropdown
{
    display: block;
    /* visibility: visible;
    max-height: 100vh;
    transition: all 0.2s ease-in; */
}

.dl-dropdown a
{
    display: inline-block;
    padding: 0.5em 2em;
    width: 100%;
}
/* 
.dl-btn:focus a
{
    display: inline-block;
} */

.dl-dropdown a:hover,
.dl-dropdown a:focus-visible
{
    background-color: var(--primary-200);
}

.driftitem-content
{
    padding: 1em;
}

.driftitem-content section:not(.driftitem-top)
{
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.driftitem-top
{
    display: flex;
    height: 5.5em;
    gap: 0 1em;
}

.driftitem-top > *
{
    height: 100%;
    background-color: white;
}

.driftitem-content section + section
{
    margin-top: 1em;
}

.overview
{
    flex-grow: 1;
    overflow: auto;
    height: 100%;
}

.detail-wrapper
{
    padding: 1em;
}

.detail
{
    width: 100%;
    overflow: auto;
}

.play-btn
{
    background-color: var(--primary-300);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    border-radius: 0.6em;
}

.play-btn:hover,
.play-btn:focus-visible
{
    background-color: var(--primary-200);
}

.play-btn img
{
    margin-left: 0.3em;
}

.play-btn span
{
    margin-top: 0.3em;
    font-size: 0.8em;
}

.table-wrapper
{
    text-align: center;
    overflow: auto;
}

.stat-table
{
    font-weight: 300;
    font-size: 0.8em;
    line-height: 1.2em;
}

.stat-header
/* .stat-table td:first-child */
{
    font-weight: 600;
}

.stat-header
{
    border-bottom: 0.62px solid #D6D6D6;
}

.stat-table td
{
    padding: 0.5em 1em;
    padding-top: 1em;
    vertical-align: bottom;
    text-align: right;
}

.stat-table td:nth-child(odd)
{
    background-color: var(--neutral-300);
}


.copybutton
{
    display: none;
    padding: 1em 2em;
    font-size: 0.8rem;
    background-color: var(--primary-400);
    border-radius: 0.5em;
    color: white;
}