:root
{
    font-family: 'Proxima Nova', 'Nunito Sans', sans-serif;
    color: #565656;
    --primary-300: #83C9C4;
    --primary-400: #4DB2AA;
    --primary-700: #3F8B85;
    --neutral-300: #FBFBFB;
    --neutral-400: #E5E5E5;
    --neutral-700: #E3E3E3;
}

body
{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
}

button,
a
{
    transition: background-color 0.1s;
}

nav
{
    background-color: var(--primary-700);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;
    letter-spacing: 0.1em;
    box-shadow: 0px 4.99939px 4.99939px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

main
{
    flex-grow: 1;
    display: flex;
}

.logo
{
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0.15em;
}

.nav-links
{
    display: flex;
}

.nav-links a
{
    padding: 1.8em 1em;
    display: inline-block;
}

.nav-links a:hover,
.nav-links a:focus-visible
{
    background-color: #4DB2AA;
}

#sidebar
{
    width: 16em;
    background-color: var(--primary-400);
    color: white;
    box-shadow: 0px 4.99939px 4.99939px rgba(0, 0, 0, 0.25);
    /* float: left; */
    flex-shrink: 0;
    height: 100%;
}

#doclist-area
{
    display: inline-block;
    max-width: calc(100% - 16em);
    padding: 2em;
    flex-grow: 1;
}

#upload-area
{
    display: block;
    width: 9em;
    height: 9em;
    background-color: rgba(215, 215, 215, 0.3);
    margin: 0 auto;
    margin-top: 4em;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
    font-weight: 700;
}

#upload-area:hover,
#upload-area:focus-visible
{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

#upload-area svg
{
    display: block;
    margin: 0 auto;
    margin-top: 0.8em;
}

#upload-button
{
    display: none;
}

.file-list-area
{
    width: 9em;
    margin: 0 auto;
    margin-top: 7em;
}

.file-list-area > :first-child
{
    font-weight: 700;
}

.file-list
{
    margin-top: 1em;
}

.file-list-area button
{
    font-size: 0.8em;
    width: 100%;
    height: 2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0.5em 1.5em;
    border-radius: 0.2em;
    margin: 0.3em 0;
}

.file-list-area button:hover,
.file-list-area button:focus-visible
{
    background-color: var(--primary-300);
    cursor: pointer;
}

.file-list-area button.active
{
    background-color: var(--primary-700);
    box-shadow: inset 0px 2.4997px 2.4997px rgba(0, 0, 0, 0.25);
    transition: none;
}

.driftitem
{
    background-color: var(--neutral-400);
    border-radius: 1em;
    width: 100%;
    overflow: hidden;
}

.driftitem + .driftitem
{
    margin-top: 2em;
}

.docbar
{
    background-color: var(--primary-400);
    color: white;
    padding: 0.5em 2em;
    display: flex;
    align-items: center;
}

.doc-name
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
}

.dl-btn
{
    position: relative;
}

.dl-dropdown
{
    display: none;
    /* visibility: none; */
    position: absolute;
    top: calc(100% + 1em);
    right: 0;
    /* max-height: 0; */
    background-color: var(--primary-400);
    border-radius: 0.5em;
    overflow: hidden;
    transition: none;
    box-shadow: 0px 4.99939px 4.99939px rgba(0, 0, 0, 0.25);
}

.dl-btn:focus .dl-dropdown
{
    display: block;
    /* visibility: visible;
    max-height: 100vh;
    transition: all 0.2s ease-in; */
}

.dl-dropdown a
{
    display: inline-block;
    padding: 0.5em 2em;
    width: 100%;
}
/* 
.dl-btn:focus a
{
    display: inline-block;
} */

.dl-dropdown a:hover,
.dl-dropdown a:focus-visible
{
    background-color: var(--primary-300);
}

.docitem-content
{
    padding: 1em;
}

.driftitem-section
{
    width: 100%;
    background-color: white;
    border-radius: 0.6em;
    overflow: hidden;
}

.driftitem-top
{
    display: flex;
    height: 5.5em;
    background-color: inherit;
    gap: 0 1em;
    border-radius: 0;
}

.driftitem-top > *
{
    height: 100%;
    background-color: white;
}

.driftitem-section + .driftitem-section
{
    margin-top: 1em;
}

.overview
{
    flex-grow: 1;
    overflow: auto;
    height: 100%;
}

.detail-wrapper
{
    padding: 1em;
    border-radius: 0.6em;
}

.detail
{
    width: 100%;
    overflow: auto;
}

.play-btn
{
    background-color: var(--primary-400);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    border-radius: 0.6em;
}

.play-btn:hover,
.play-btn:focus-visible
{
    background-color: var(--primary-300);
}

.play-btn svg
{
    margin-left: 0.3em;
}

.play-btn span
{
    margin-top: 0.3em;
    font-size: 0.8em;
}

.table-wrapper
{
    text-align: center;
    overflow: auto;
}

.stat-table
{
    font-weight: 300;
    font-size: 0.8em;
    line-height: 1.2em;
}

.stat-header
/* .stat-table td:first-child */
{
    font-weight: 600;
}

.stat-header
{
    border-bottom: 0.62px solid #D6D6D6;
}

.stat-table td
{
    padding: 0.5em 1em;
    padding-top: 1em;
    vertical-align: bottom;
    text-align: right;
}

.stat-table td:nth-child(odd)
{
    background-color: var(--neutral-300);
}


.copybutton
{
    display: none;
    padding: 1em 2em;
    font-size: 0.8rem;
    background-color: var(--primary-400);
    border-radius: 0.5em;
    color: white;
}